.container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.arrow {
    font-size: 2.5em;
    text-align: center;
    margin: 1px;
    padding: 0;
}
.popup {
    display:flex;
    flex-direction: column;
    gap:0.6rem;
    margin-top: 0.6rem;
}
.panel {
    height: 250px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(7, 36px); /* Adjust minmax values as needed */
    grid-template-rows: repeat(7, 36px);
}
.cell {
    cursor: pointer;
    padding: 2px;
}
.cell.chosen {
    background-color: #A47015;
    border-radius: 1rem;
    color: aliceblue;

}
.cell:hover {
    background-color: #1f1f1f;
    border-radius: 1rem;
}
.cell.inRange, .cell.inRange:hover {
    color: #535bf2;


}

.cell.isToday {
    border: 1px solid aliceblue;
    border-radius: 1rem;
}
.disabled {
    cursor: none;
    pointer-events: none;
    color: grey;
}
.list {
    height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0.5rem;
    width: 40px;
}
.list::-webkit-scrollbar {
    width: 6px;
}
.list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;

}
.list::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 3px;
}
.list > li {
    cursor: pointer;


}
.list > li:hover {
    background: #3a3a3a;
    transition: 400ms;
    border-radius: 6px;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;


}
.btns {
    display: flex;
    gap:0.2rem
}
.btns > button {
    font-size: 0.8em;
}
.selects {
    display: flex;

}
.inputs {
    display: flex;
    justify-content: space-around;
}
.panelDate {
    display: flex;

    margin-left: 1.3rem;
    height: 40px;
    align-items: center;
    gap: 0.3rem;

}
.panelDate > span {
    cursor: pointer;
}
.panelDate > p {
    padding-top: 9px;
    font-size: 1.3em;
    color: #A47015;
}
.panelDate > span:hover {
    opacity: 0.5;
}